:root {
--Background-App: hsl(235, 21%, 11%);
--Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
--Light-Grayish-Blue: hsl(234, 39%, 85%);
--Light-Grayish-Blue: hsl(236, 33%, 92%);
--Dark-Grayish-Blue: hsl(234, 11%, 52%);
--Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
--Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);

--Background-Img: url('../images/bg-desktop-dark.jpg');
}

.light {
--Background-App: hsl(0, 0%, 98%);
--Light-Grayish-Blue: hsl(236, 33%, 92%);
--Light-Grayish-Blue2: hsl(233, 11%, 84%);
--Dark-Grayish-Blue: hsl(236, 9%, 61%);
--Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

--Background-Img: url('../images/bg-desktop-light.jpg');
}


body {
  background-color: var(--Background-App);
  color: var(--Light-Grayish-Blue);
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.Header-img {
  align-items: center;
  background-image: var(--Background-Img);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 12em;
  justify-content: space-between;
  width: 100%;
  
}

.title {
  color: var(--Light-Grayish-Blue);
  font-weight: 400;
  margin: 0 auto;
  
}

.btnTheme {
  background-color: transparent;
  background-size: cover;
  border: none;
  color: var(--Light-Grayish-Blue);
  padding: 1em;
}

.moon {
  background-image: url('../images/icon-moon.svg');

}

.sun {
  background-image: url('../images/icon-sun.svg');
}